.container {
    opacity: 0.8;
    background-image: url("/images/exercise/exercise.jpg");
    height: 500px;
    width: 100%;
   }

.login {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity:0.8;
}